<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image:url("https://img.wallpapersafari.com/desktop/1440/900/82/9/17Lsix.jpg")}
</style>
<body class="container">
    <h1 class="text-center bg-primary">PROFILE</h1>
    <a class="btn btn-info" href="{% url 'index' %}">Home</a>
    <a class="btn btn-info" href="{% url 'update' %}">Update</a>
    <br><br>
    
    <div> <img  src= "{{ user.profile.foto.url }}" class="img-thumbnail" width="304" height="236"></div>
    <br>
    <div class="container py-5 text-center bg-secondary text-white" >
        <h3>{{user.profile.bio}}</h3>
        
    </div>
    <br>


</body>
</html>